.num{
    height: 310px;
    width: 40%;
    border: 1px solid black;
    box-shadow: 10px 10px 10px 10px black;
    border-radius: 20px;
    margin: auto;
    margin-top: 10%;
    background-color: rgb(209, 194, 194);
}
.but{
    margin-left: -4%;
}
.but button{
    border-radius: 20px;
    margin-top: 5%;
    box-shadow: 2px 2px 2px 2px black;
    margin-left: 5%;
    margin-top: 3%;
}
#result{
    width: fit-content;
    height:10px;
    border: 2px black;
    margin-top: 5%;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: black;
}